html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container__button {
    margin-right: 20px;

    width: 180px;
    height: 50px;

    font-size: 30px;
    color: #776e65;

    background-color: #bbada0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container__button:hover {
    background-color: #776e65;
    color: #bbada0;
}

.container-score {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    background-color: #bbada0;
}

.score {
    font-size: 50px;
    text-align: center;
    color: #776e65;
}

.board {
    padding: 10px;
    margin: 20px 0;

    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;

    background-color: #bbada0;
    border-radius: 10px;
    overscroll-behavior: none;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    font-size: 24px;
    font-weight: bold;
    color: #776e65;
    border-radius: 5px;
    background-color: #cdc1b5;
}

.x2 { background-color: #eee4da; }
.x4 { background-color: #ede0c8; }
.x8 { background-color: #f2b179; }
.x16 { background-color: #f59563; }
.x32 { background-color: #f67c5f; }
.x64 { background-color: #f65e3b; }
.x128 { background-color: #edcf72; }
.x256 { background-color: #edcc61; }
.x512 { background-color: #edc850; }
.x1024 { background-color: #edc53f; }
.x2048 { background-color: #edc22e; }

@media screen and (max-width: 768px) {

    .container__button {
        width: 120px;
        height: 30px;
    
        font-size: 20px;
    }

    .board {  
        display: grid;
        grid-template-columns: repeat(4, 50px);
        gap: 10px;
    }

    .tile {
        width: 50px;
        height: 50px;
    }

    .score {
        font-size: 30px;
        text-align: center;
        color: #776e65;
    }
}
